@font-face {
    font-family: 'fontaa1d5952107e5435018f57996e230daa';

    src: url('https://nomail.com.ua/files/eot/aa1d5952107e5435018f57996e230daa.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/aa1d5952107e5435018f57996e230daa.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/aa1d5952107e5435018f57996e230daa.woff2') format('woff2');
}

@font-face {
    font-family: 'Nanami-ExLt';
    src: local('Nanami-ExLt'), url('https://nomail.com.ua/files/woff/aa1d5952107e5435018f57996e230daa.woff') format('woff');
}