@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.wrapper {
    background-color: #e5e5e5;
}

.provider {

    &__inner {
        display: flex;
        justify-content: space-between;
        min-height: 832px;
    }

    &__descr {
        padding: 190px 0 199px 100px;
        background: #e5e5e5;
        width: 841px;
    }

    &__descr-title {
        color: #363738;
        font-family: 'Exo 2', sans-serif;
        font-weight: 600;
        font-size: 52px;
        line-height: 65px;
        max-width: 610px;
        margin-bottom: 40px;

    }

    &__descr-text {
        max-width: 560px;
        color: #6B6B6C;
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 61px;
        margin-right: 80px;
    }

    &__descr-texttwo {
        display: none;
    }

    &__descr-more {
        color: #363738;
        min-width: 105px;
        font-family: 'PT Sans', sans-serif;
        font-style: 400;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 10px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            background: #FFCE50;
            width: 117px;
            height: 3px;
        }
    }

    &__picture {
        background-color: #0B7572;
        width: 599px;
        position: relative;
    }


    &__picture-img {
        position: absolute;
        top: 109px;
        right: 100px;
        border-radius: 20px 0px 20px 20px;
        border-top-color: transparent;
        object-fit: cover;
        max-width: 100%;
    }
}

.card-products {
    // background-color: #E5E5E5;

    &__inner {
        display: flex;
        justify-content: space-between;
        min-height: 341px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        padding: 40px 125px 56px 80px;
        position: relative;
        max-width: 1240px;
        right: 0;
        left: 0px;
        bottom: 108px;
        margin-left: 100px;
        margin-right: 100px;
    }

    &__goods {
        position: relative;
    }

    &__goods-line {
        height: 261px;
        width: 1px;
        background: #D7D7DD;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: -64px;
    }

    &__goods-circle {
        width: 92px;
        height: 92px;
        left: 990px;
        border-radius: 50%;
        background: #E9E9EC;
        padding: 21px 21px;
        margin-bottom: 24px;
    }

    &__goods-circle--high {
        width: 92px;
        height: 92px;
        left: 990px;
        border-radius: 50%;
        background: #E9E9EC;
        padding: 26px 12px;
        margin-bottom: 24px;
    }

    &__goods-img {
        display: block;
    }

    &__goods-title {
        max-width: 228px;
        font-style: normal;
        color: #363738;
        font-family: 'Exo 2', sans-serif;
        font-weight: 600;
        line-height: 27px;
        font-size: 20px;
        margin-bottom: 16px;
    }

    &__goods-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #6B6B6C;
        max-width: 225px;
    }
}


@import 'media';



// ==================Cards========================

.card {
    background-color: #fefefe;


    &__inner {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    &__inner-levelone {
        margin-right: 30px;
        height: 270px;
        width: 260px;
        background-color: #38dd97;
        color: #FFFFFF;
        border-radius: 15px;
        padding: 33px 25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    }

    &__inner-leveltwo {
        margin-right: 30px;
        height: 270px;
        width: 260px;
        background-color: #FFFFFF;
        color: #9d9d9d;
        border-radius: 15px;
        padding: 47px 25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    }

    &__star {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
    }

    &__startwo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
    }

    &__circle {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.15);
        padding: 15px;
    }

    &__circle-img {
        fill: #FFFFFF;
    }

    &__circle-imgtwo {
        fill: #63adf1;
    }

    &__star-title {
        padding-top: 13px;
        font-family: 'Nanami-ExLt';
        font-size: 31px;
        letter-spacing: 1px;
    }

    &__star-titletwo {
        font-family: 'Nanami-ExLt';
        font-size: 31px;
        letter-spacing: 1px;
    }

    &__text {
        text-align: end;
        margin-bottom: 17px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 23px;
    }

    &__texttwo {
        text-align: end;
        margin-bottom: 17px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 23px;
    }

    &__menu-list {
        text-align: end;
        margin-bottom: 15px;
    }

    &__menu-listtwo {
        text-align: end;
        margin-bottom: 15px;
    }

    &__menu-item {
        margin-bottom: 5px;
        display: flex;
        justify-content: end;
    }

    &__menu-itemtwo {
        margin-bottom: 5px;
        display: flex;
        justify-content: end;
    }

    &__menu-contact {
        margin-right: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 15px;
    }

    &__menu-contacttwo {
        margin-right: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 15px;
    }

    &__footer-price {
        text-align: end;
        margin-top: 15px;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }

    &__footer-pricetwo {
        text-align: end;
        margin-top: 36px;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }

    &__menu-img {
        fill: #FFFFFF;
        margin-top: 2px;
    }

    &__menu-imgtwo {
        border: 1px solid #9d9d9d;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin-top: 0px;
    }

}